/* تنسيق الشريط العلوي */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #1d1d1d;
    color: #ddd;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 15px 30px;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.2em;
}

.logo img {
    height: 24px;
}

.share-icon {
    cursor: pointer;
}

/* تنسيق النافذة المنبثقة */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #333;
    margin: 10% auto;
    padding: 20px;
    border-radius: 8px;
    width: 80%;
    max-width: 400px;
    color: white;
    text-align: center;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #fff;
    cursor: pointer;
}

/* تنسيق الصورة الرئيسية */
.header {
    text-align: center;
    padding: 20px;
}

.main-image img {
    width: 100%;
    max-width: 500px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


/* تنسيق زر الكاميرا */
.upload-section {
    display: flex;
    justify-content: center;
    /* padding: 20px; */
    flex: 1;
}

.camera-btn {
    font-size: 24px;
    width: 100%;
    height: 500px;
    padding: 10px 20px;
    background-color: #333;
    /* color: white; */
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

.camera-btn:hover {
    background-color: #555;
}


